body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background: #f0f0f0;
  background-size: cover;
  /*
  * Home page
  */
  /*
  * About page
  */ }
  body .section__background--home {
    background-image: url(../images/background.jpg);
    background-repeat: round;
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0; }
    body .section__background--home .article__background--home {
      width: 62%;
      margin: 0 auto; }
      body .section__background--home .article__background--home .header__home {
        width: 100%;
        background: rgba(157, 121, 104, 0.4); }
        body .section__background--home .article__background--home .header__home .img__logo {
          margin: 10px; }
      body .section__background--home .article__background--home .article__content--main {
        width: 100%;
        /*...*/ }
  body .section__background--about {
    /* Set rules to fill background */ }
    body .section__background--about .article__background--about {
      width: 992px;
      margin: 0 auto; }
      body .section__background--about .article__background--about .header__about .div__header--logo {
        width: 100%;
        background: #b4b4b4;
        margin-bottom: 10px; }
        body .section__background--about .article__background--about .header__about .div__header--logo .img__logo {
          margin: 15px 15px 5px; }
      body .section__background--about .article__background--about .header__about .div__header--banner {
        height: 250px;
        width: 100%;
        background-image: url("../images/background.jpg");
        background-size: cover;
        background-position: 0px -236px;
        background-repeat: no-repeat; }
      body .section__background--about .article__background--about .article__content--main {
        width: 100%;
        display: inline-block;
        padding-top: 25px;
        position: relative; }
        body .section__background--about .article__background--about .article__content--main .div__side--menu {
          width: 22.2%;
          display: inline-block;
          max-width: 225px;
          overflow: hidden; }
          body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu {
            padding: 0;
            margin: 0; }
            body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-menu {
              margin: 0; }
            body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item .li__side--menu {
              list-style: none;
              background-color: white;
              padding: 15px 40px;
              position: relative;
              cursor: pointer; }
              body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item .li__side--menu .div__side--menu-bar {
                width: 10px;
                height: 48px;
                background-color: #e5e5e5;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0; }
              body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item .li__side--menu .span__side--menu {
                text-decoration: none;
                padding: 15px 115px;
                padding-left: 0; }
            body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item.core-selected .li__side--menu {
              background-color: #006fbb; }
              body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item.core-selected .li__side--menu .div__side--menu-bar {
                background-color: #b7182d; }
              body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item.core-selected .li__side--menu .span__side--menu {
                color: white; }
        body .section__background--about .article__background--about .article__content--main hr {
          margin-left: 25px; }
        body .section__background--about .article__background--about .article__content--main .div__content--about {
          width: 76.8%;
          display: inline-block;
          height: auto;
          position: absolute;
          top: 94px; }
          body .section__background--about .article__background--about .article__content--main .div__content--about .div__content--title {
            display: inline-block;
            padding-left: 25px;
            /*padding-top: 63px;*/ }
          body .section__background--about .article__background--about .article__content--main .div__content--about .div__content--text {
            display: inline-block;
            text-align: center;
            padding: 80px;
            padding-top: 50px; }

@media (max-width: 1480px) {
  body .section__background--home .article__background--home {
    width: 760px; } }
@media (max-width: 1200px) {
  body .section__background--home .article__background--home {
    width: 80%; } }
@media (max-width: 992px) {
  body .section__background--home .article__background--home {
    width: 80%; }
  body .section__background--about .article__background--about {
    width: 95%;
    margin: 0 auto; }
    body .section__background--about .article__background--about .article__content--main {
      padding-top: 5px; }
      body .section__background--about .article__background--about .article__content--main .div__content--about {
        top: 73px; } }
@media (max-width: 992px) {
  body .section__background--about .article__background--about {
    width: 95%;
    margin: 0 auto; }
    body .section__background--about .article__background--about .header__about .div__header--banner {
      background-position: 0px -150px; }
    body .section__background--about .article__background--about .article__content--main {
      padding-top: 5px; } }
@media (max-width: 767px) {
  body .section__background--about .article__background--about .header__about .div__header--banner {
    background-position: 0px -65px; }
  body .section__background--about .article__background--about .article__content--main {
    padding-top: 5px; }
    body .section__background--about .article__background--about .article__content--main .div__side--menu {
      width: 100%;
      max-width: 100%;
      display: block; }
      body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item .li__side--menu {
        width: 40%; }
    body .section__background--about .article__background--about .article__content--main .div__content--about {
      width: 100%;
      position: static; }
      body .section__background--about .article__background--about .article__content--main .div__content--about .div__content--text {
        padding: 30px;
        padding-top: 10px; } }
@media (max-width: 479px) {
  body .section__background--about .article__background--about .header__about .div__header--banner {
    height: 155px;
    background-position: 0px -65px; }
  body .section__background--about .article__background--about .article__content--main {
    padding-top: 3px; }
    body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-menu {
      margin: 0; }
    body .section__background--about .article__background--about .article__content--main .div__side--menu .ul__side--menu core-item .li__side--menu {
      width: 100%; }
    body .section__background--about .article__background--about .article__content--main hr {
      margin-left: 12px; }
    body .section__background--about .article__background--about .article__content--main .div__content--about {
      width: 100%;
      margin-top: 30px; }
      body .section__background--about .article__background--about .article__content--main .div__content--about .div__content--title {
        padding-left: 12px; }
      body .section__background--about .article__background--about .article__content--main .div__content--about .div__content--text {
        padding: 30px;
        padding-top: 10px; } }
