:host {
  display: block; }

.ul__menu--main {
  padding: 0;
  margin-top: 40%; }
  .ul__menu--main .div__dropdown {
    display: inline-block;
    position: relative; }
    .ul__menu--main .div__dropdown .ul__dropdown--options {
      display: none; }
  .ul__menu--main .div__dropdown:hover .ul__dropdown--options {
    display: block;
    position: absolute;
    top: -190px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center; }
    .ul__menu--main .div__dropdown:hover .ul__dropdown--options li {
      padding: 10px;
      cursor: pointer; }
      .ul__menu--main .div__dropdown:hover .ul__dropdown--options li a {
        font-size: 14px;
        color: white;
        padding: 10px;
        text-decoration: none; }
    .ul__menu--main .div__dropdown:hover .ul__dropdown--options li:hover {
      background-color: rgba(0, 0, 0, 0.8); }
  .ul__menu--main .li__option--menu-main {
    display: inline-block; }
    .ul__menu--main .li__option--menu-main .div__arrow--up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black; }
    .ul__menu--main .li__option--menu-main .div__arrow {
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      vertical-align: middle; }
      .ul__menu--main .li__option--menu-main .div__arrow .arrow {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        left: 0.15em;
        position: relative;
        top: 0.30em;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em; }
      .ul__menu--main .li__option--menu-main .div__arrow .arrow--top {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .ul__menu--main .li__option--menu-main .div__option {
      padding: 1px 80px 0px;
      background: rgba(254, 254, 252, 0.8);
      cursor: pointer; }
      .ul__menu--main .li__option--menu-main .div__option .a__option--menu-main {
        text-decoration: none;
        color: #464646;
        font-size: 22px;
        line-height: 2.5; }
  .ul__menu--main .li__option--menu-main:hover {
    background: #f1e4db; }

@media (max-width: 1480px) {
  .ul__menu--main .li__option--menu-main .div__option {
    padding: 1px 50px 0px; } }
@media (max-width: 1200px) {
  .ul__menu--main .div__dropdown:hover .ul__dropdown--options li a {
    padding: 0px; }
  .ul__menu--main .div__dropdown:hover .ul__dropdown--options li:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .ul__menu--main .li__option--menu-main .div__option {
    padding: 1px 35px 0px; } }
